body {
  background-color: wheat;
}

#big_block{
  background-color:  #cb6b63;
  height: 400px ;
  width: 450px ;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 10px;
}

#front_block{
  background-color: #d8776e;
  height: 300px;
  width: 150px;
  top: 50%;
  left: 50%;
  position: fixed;
  margin-top: -200px;
  margin-left: -50px;

}


#front_door{
  /* background-color: #453d3a; */
  /* border-radius: 25px; */
  border: 30px solid #453d3a;
  padding: 20px;
  height:50px;
  width: 50px;
  top: 50%;
  left: 50%;
  position: fixed;
  margin-top: 50px;
  margin-left: -50px;
  z-index: 1;
}

#inside_front_door{
  background-color: black;
  height:150px;
  width: 150px;
  top: 50%;
  left: 50%;
  position: fixed;
  margin-top: 50px;
  margin-left: -50px;

} 