body {
  background-color: wheat;
}

#big_block{
  background-color: #bc535b;
  height: 400px ;
  width: 400px ;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 10px
}